#page {
  margin-bottom: 100px;
}

#content, #footer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

table th {
  text-align: left;
}

th, td {
  padding: 10px;
}

#summary {
  font-size: $large-font-size * 1.5;
}

#footer {
  color: rgba(128, 128, 128, 0.6);
  margin-bottom: 24px;
}